<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551068919217-suo245762g2bhigbp4f3d07o3soukta7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551068919217-suo245762g2bhigbp4f3d07o3soukta7</string>
	<key>API_KEY</key>
	<string>AIzaSyAyGJlZpz3al4P9hOUXYGv03irPO_l-Rq8</string>
	<key>GCM_SENDER_ID</key>
	<string>551068919217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.CrashDemo</string>
	<key>PROJECT_ID</key>
	<string>sfdemo-b7cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>sfdemo-b7cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551068919217:ios:a4aaa555f0f75d9fcc8990</string>
	<key>DATABASE_URL</key>
	<string>https://sfdemo-b7cc2.firebaseio.com</string>
</dict>
</plist>